@import url(http://fonts.googleapis.com/css?family=Galdeano);
@import url(http://fonts.googleapis.com/css?family=Electrolize);
@import url(http://fonts.googleapis.com/css?family=Cuprum);
body{
	font-size:20px;
	font-family:"Galdeano","Hiragino Sans GB","Microsoft YaHei",Trebuchet,"Trebuchet MS",Tahoma,"Lucida Grande","Lucida Sans Unicode",Verdana,sans-serif;
	background-color:rgb(255, 255, 234);
}
/*Òþ²Ø¶àËµpowered-by*/
.ds-powered-by{display:none}

*{padding:0;margin: 0;border:none;outline:none;}
a{color:#dd0000;text-decoration:none;}
a:hover{color:#333333;text-decoration:underline;}
hr{margin:.7em 0;border-top:1px dashed #d0d0d0;border-bottom:1px dashed #f9f9f9;}
p{padding:.3em 0;white-space:pre-wrap;color:rgb(85, 85, 85)}
li{padding:.2em 0;}
ol,ul{list-style-position:inside;}
ol ul, ul ol, ul ul, ol ol {margin-left:1em;}

blockquote{display:block;text-align:justify;border-left:4px solid #eeeeee;}
blockquote{margin:1em 0em;padding-left:1.5em;}
blockquote p{margin:0;padding:.3em 0;}

#container{width:95%;margin-left:auto;margin-right:auto;}

.content{
    background-color:  #fff;
    margin:  10px 0px 50px 0px;
    padding:  10px 20px;
    moz-border-radius:  10px;
    webkit-moz-border-radius:  10px;
     border-radius:  10px;
    -webkit-box-shadow:  0px 1px 3px #A8ABAB;
    -moz-box-shadow:  0px 1px 3px #A8ABAB;
    box-shadow:  0px 1px 3px #A8ABAB;
}

.nav{font-family:"Electrolize",sans-serif;font-size:1.1em;font-weight:bold;}
.nav>a{color:#000000;}
.nav a:hover{background-color:#ff0000;text-decoration:none;color:#f9f9f9;-webkit-transition:color .2s linear;}

.content h1{padding:.5em 0;}
.content img{max-width:600px;display:block;margin:4px auto;-webkit-box-shadow:#999 1px 1px 4px;-moz-box-shadow:#999 1px 1px 4px;box-shadow:#999 1px 1px 4px;}

#tag_cloud{margin-bottom: 1em;}
#tag_cloud a:hover{color:#333333 !important;text-decoration:none;}

.listing-item,.listing-seperator{list-style-type:none;}
.listing-item a{padding:.2em 1em;}
.listing-item time{color:#999999;}
.listing-seperator{font-weight:bold;}

.meta{text-align:right;font-weight:bold}

header{padding:.5em 0;border-bottom: 0px solid #cccccc;}

.post{padding:.5em 0em;}

h1{font-family:"Cuprum","Hiragino Sans GB","Microsoft YaHei",sans-serif;font-size:1.6em;color:#000;}
h2{font-family:"Cuprum","Hiragino Sans GB","Microsoft YaHei",sans-serif;font-size:1.4em;color:#111;}
h3{font-family:"Cuprum","Hiragino Sans GB","Microsoft YaHei",sans-serif;font-size:1.2em;color:#222;}
h4{font-family:"Cuprum","Hiragino Sans GB","Microsoft YaHei",sans-serif;font-size:1em;color:#333;}

pre,code{font-family:Menlo,"Andale Mono",Consolas,"Courier New",Monaco,monospace;
    display: block;
    /*line-height: 20px;*/
    background-color: #f7f7f9;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    white-space: pre;
    white-space: pre-wrap;
    word-break: break-all;
}

strong{padding:3px 4px;color:rgb(221, 17, 68);background-color:rgb(247, 247, 249);border-radius:3px 3px 3px 3px;border:1px solid rgb(225, 225, 232)}
