---
layout: default
---

<section class="post">
{{ content }}
</section>
<section class="meta">
<span class="author">
  <a href="http://ddatsh.com">{{ site.author }}</a>
</span>
<span class="time">
  /
  <time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date:"%Y-%m-%d" }}</time>
</span>
<br />
{% if page.categories %}
<span class="categories">
  in categories
  {% for cat in page.categories %}
  <a href="{{ site.url }}/categories/#{{ cat }}" title="{{ cat }}">{{ cat }}</a>&nbsp;
  {% endfor %}
</span>
{% endif %}

</section>
{% include comments.md %}
